# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# =========================
# Virtual Environment
# =========================
bcd-env/
venv/
env/
ENV/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Flask
# =========================
instance/
.webassets-cache/

# =========================
# Uploaded files
# =========================
uploads/

# =========================
# Dataset (Optional - if large)
# =========================
data/

# =========================
# Model files (Optional - if large)
# =========================
*.h5
*.keras
*.pt

# =========================
# Environment variables
# =========================
.env

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db